################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/trunk/src/Wedding/packages
/trunk/src/Wedding/Wedding/bin
/trunk/src/Wedding/Wedding/obj
